<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
       
    .card-img-top {
        width: 100%;
        height: auto;
    }
    .navbar-brand img {
        height: 100px;
        width: 250px;
    }
    .navbar-nav .nav-link {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
    .navbar-text {
        font-size: 1.5rem;
    }
    .card-title {
        font-size: 2.5rem;
    }
    .card-img-top {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .btn-chat {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        color: black;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
    }
    .btn-chat:hover {
        background-color: #beb4b4;
        color: #8d3b05;
    }
    .btn-orange {
        color: #fff;
        background-color: orange;
        border-color: orange;
        font-size: 2rem;
        width: 150px;
    }
    .strong {
    color: orange;
    font-size: 1.5rem;
    font-weight: bold;
    }
    .card-textd {
        color: #868686;
        font-size: 1.1rem;
    }
    .location-text {
        font-weight: bold;
        font-size: 1.1rem;
        
    }

    
</style>
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/Logoo.png" alt="Logo"></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">ลงสิ่งของ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/save-offer">บันทึกข้อเสนอ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications">การแจ้งเตือน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">การตั้งค่า</a>
                    </li>
                    
                </ul>
                <span class="navbar-text me-3">
                    <%= name %>
                </span>
                
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="<%= product.image %>" class="card-img-top img-fluid" alt="<%= product.name %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <br><br><br>
                    <p class="card-textd"><%= product.description %></p>
                    <p class="card-text location-text">Location: <%= product.location %></p>
                    <p class="strong ">สถานะ: <%= product.status %></p>

                    <a href="/" class="btn btn-orange btn-chat">แชท</a>


    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMN1ifzC5Ko9wh6Fj9f4WmcAftfwaD4Kq4/ey6jAKK8C8Kf7Jp/SY9WZkp57ZLx1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVuQdRAU5Drq0iZaPLEN4Qk92r9I5nDkzXbQxC/5Nz8lwrF0Do9yG62wtNAEnAt1" crossorigin="anonymous"></script>
</body>
</html>
